@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);


/* UNIVERSAL STYLING */
*
{
    border:0;
    padding:0;
    margin:0;
    text-decoration: none;
    
}

h1
{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: red;
}

button
{
    background-color: unset;
}

input
{
    background-color: unset;
}

a { 
    color:black;
    text-decoration:none;
}

.page
{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.outerhead
{
    background-color: grey;
    height: 60px;
    display: flex;
}

.thehead
{
    width: 700px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-left: 1px dotted;
    border-right: 1px dotted;
    
}

.thelogo
{
    display: flex;
    padding: 5px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.menoptions
{
    float: right;
    display: flex;
}

.menoption
{
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
}

.menoption:hover
{
    text-decoration: underline;
}

.canvas
{
    
    margin: auto;
    margin-top: 50px;
    

}

/* MAIN PAGE STYLING */

.mainpagefn
{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.namebox
{
    display: flex;
    width: 370px;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.nameform
{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#fname
{
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: black;
    padding: 2px 3px;
}

.quizoptions
{
    display: flex;
    justify-content: center;
}

.quizoption
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 20px 20px;
    border: 1px solid;
    
}

.quizprompt
{
    display: flex;
    justify-content: center;
}